@{
    ViewData["Title"] = "About Us";
}

<div class="inner-page">
    <div class="slider-item" style="background-image: url('../theme/images/boyswing.jpg');">

        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 element-animate pt-5">
                    <h1 class="pt-5"><span>About Us</span></h1>
                    @*<p class="mb-5 w-75 pl-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>*@
                </div>
            </div>
        </div>
    </div>
</div>

<section class="section bg-light">
    <div class="container">
        <div class="row" id="mish">
            <div class="col-md-6 col-lg-4 element-animate ">
                <div class="media block-6 d-block text-center">
                    <div class="icon mb-3"><span class="ion-android-bicycle text-primary"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Our Mission</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4 element-animate ">
                <div class="media block-6 d-block text-center">
                    <div class="icon mb-3"><span class="ion-eye text-primary"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Our Vision</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4 element-animate ">
                <div class="media block-6 d-block text-center">
                    <div class="icon mb-3"><span class="ion-ios-book text-primary"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Core Values</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="section" id="teamm">
    <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
            <div class="col-md-8 text-center">
                <h2 class="heading mb-4">Meet The Team</h2>
                <p class="mb-5 lead">The Triad for Development was founded by the following individuals.</p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="media d-block media-custom text-center">
                    <a href="#"><img src="~/theme/images/emmanodu.jpg" style="border-radius: 50%; width:50%; height:50%" alt="Image Placeholder" class="img-fluid" ></a>
                    <div class="media-body">
                        <h3 class="mt-0 text-black">Dr. Emmanuel Odu</h3>
                        <p style="font-style:italic;">CEO/Founder</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media d-block media-custom text-center">
                    <a href="#"><img src="~/theme/images/person_2.jpg" style="border-radius: 50%; width:50%; height:50%" alt="Image Placeholder" class="img-fluid"></a>
                    <div class="media-body">
                        <h3 class="mt-0 text-black">Dr. James Attah</h3>
                        <p style="font-style:italic;">Founder</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media d-block media-custom text-center">
                    <a href="#"><img src="~/theme/images/person_3.jpg" style="border-radius: 50%; width:50%; height:50%" alt="Image Placeholder" class="img-fluid"></a>
                    <div class="media-body">
                        <h3 class="mt-0 text-black">Dr Aaron Onah</h3>
                        <p style="font-style:italic;">Founder</p>
                    </div>
                </div>
            </div>
        </div>
                <div class="row">
                    <div class="col-12">
                        <strong>Dr. Emmanuel Odu </strong>
                        <p class="lead" style="text-align:justify; text-justify:inter-word; font-size:1.1em">
                            possesses over 30 years post-qualification cognate experience, spanning clinical medical practice, public health and Project/health management. He is a medical and public health
                            professional with extensive, additional, training in diverse areas, including Leadership, Innovation and Strategy, Health Systems Strengthening and Sustainable Financing, Universal Health coverage,
                            Health Sector Reforms. He is currently the Director in-charge of North Central Zone, at the Nigeria National Primary Health Care Development Agency, a parastatal of the Nigeria Federal Ministry of Health.
                            He previously worked at multiple international and bilateral government organizations and development programs including United Nations Population Fund (UNFPA), UK-Department for International Development(DFID),
                            Partnership for Transforming Health Systems (PATHS1), USAID – ENHANSE Program. Dr. Odu is currently the Principal Investigator (Country Director) of USA/CDC-funded PHAID project which is domiciled in NPHCDA.

                            He obtained his Bachelor of Medicine, Bachelor of Surgery (MB. BCH) at the University of Jos, Master of Science degree in Public Health (MSc-PH) at the University of London, and a Diploma of the London School
                            of Hygiene and Tropical medicine (DLSHTM). , Monitoring and Evaluation, Program/Project Cycle Management, Procurement for Executives, Operations Management, among others. He attended various national and international
                            courses in Nigeria, USA, United Kingdom, The Netherlands, Turkey, and Kenya, among others.

                            Dr. Odu initiated and coordinated the development of Nigeria’s policy and implementation of Primary Health Care Under One Roof, which resulted in the establishment of State Primary Health Care Boards/Agencies in most states
                            of Nigeria; initiated and coordinated the Development of NPHCDA strategic plan 2013-2016; initiated and coordinated the nation-wide implementation of Nigeria Primary Health Care Planning and Review Policy

                            He formerly served as Acting Executive Director/CEO of the National Primary Health Care Development Agency (NPHCDA) from 29 July 2016 to 23 January 2017, a period in which he led the agency efforts, resulting in successful
                            interruption of Polio in Borno State in August 2016. Dr. Odu coordinated the PHC revitalization and Presidential commissioning of Kuchigoro Primary Health Care in FCT
                        </p>

                        <strong>Dr. Attah </strong>
                        <p class="lead" style="text-align:justify; text-justify:inter-word; font-size:1.1em">
                            possesses over 30 years post-qualification cognate experience, spanning clinical medical practice, public health and Project/health management. He is a medical and public health
                            professional with extensive, additional, training in diverse areas, including Leadership, Innovation and Strategy, Health Systems Strengthening and Sustainable Financing, Universal Health coverage,
                            Health Sector Reforms. He is currently the Director in-charge of North Central Zone, at the Nigeria National Primary Health Care Development Agency, a parastatal of the Nigeria Federal Ministry of Health.
                            He previously worked at multiple international and bilateral government organizations and development programs including United Nations Population Fund (UNFPA), UK-Department for International Development(DFID),
                            Partnership for Transforming Health Systems (PATHS1), USAID – ENHANSE Program. Dr. Odu is currently the Principal Investigator (Country Director) of USA/CDC-funded PHAID project which is domiciled in NPHCDA.

                        </p>

                        <strong>Dr. John </strong>
                        <p class="lead" style="text-align:justify; text-justify:inter-word; font-size:1.1em">
                            possesses over 30 years post-qualification cognate experience, spanning clinical medical practice, public health and Project/health management. He is a medical and public health
                            professional with extensive, additional, training in diverse areas, including Leadership, Innovation and Strategy, Health Systems Strengthening and Sustainable Financing, Universal Health coverage,
                            Health Sector Reforms. He is currently the Director in-charge of North Central Zone, at the Nigeria National Primary Health Care Development Agency, a parastatal of the Nigeria Federal Ministry of Health.
                            He previously worked at multiple international and bilateral government organizations and development programs including United Nations Population Fund (UNFPA), UK-Department for International Development(DFID),
                            Partnership for Transforming Health Systems (PATHS1), USAID – ENHANSE Program. Dr. Odu is currently the Principal Investigator (Country Director) of USA/CDC-funded PHAID project which is domiciled in NPHCDA.

                        </p>
                    </div>
                    
                </div>
    </div>
</section>
<!-- END section -->

<section class="section bg-primary">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-0">Create, Enhance and Sustain</h2>
                <p class="text-white lead">Create, Enhance and Sustain</p>
            </div>
            @*<div class="col-lg-4 text-lg-right">
                <a href="https://free-template.co/" class="btn btn-outline-white px-4 py-3">Download This Template</a>
            </div>*@
        </div>
    </div>
</section>