@model T4D.ViewModels.ContactViewModel

@{
    ViewData["Title"] = "Contact Us";
}

<div class="top-shadow"></div>

<div class="inner-page">
    <div class="slider-item" style="background-image: url('../theme/images/contact2.jpg');">

        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 element-animate pt-5">
                    <h1 class="pt-5"><span>Contact Us</span></h1>
                    <p class="mb-5 w-75 pl-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END slider -->
@*</div>*@

<section class="section border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-5 order-2">
                <form id="formm" asp-controller="Home" asp-action="Contact" method="post" role="form">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="name">Name</label>
                            <input type="text" asp-for="name" id="name" class="form-control ">
                            <span asp-validation-for="name" class="text-danger"></span>
                        </div>
                        @*<div class="col-md-6 form-group">
                                <label for="phone">Phone</label>
                                <input type="text" id="phone" class="form-control ">
                            </div>*@
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="phone">Phone</label>
                            <input type="text" asp-for="phone" id="phone" class="form-control ">
                            <span asp-validation-for="phone" class="text-danger"></span>
                        </div>
                        @*<div class="input-phone"></div>*@
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="email">Email</label>
                            <input type="email" asp-for="email" id="email" class="form-control ">
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="message">Write Message</label>
                            <textarea name="message" asp-for="message" id="message" class="form-control " cols="30" rows="8"></textarea>
                            <span asp-validation-for="message" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            @*<input type="submit" value="Send Message" class="btn btn-primary px-3 py-3">*@
                            <button id="contactbtn" type="submit" class="btn btn-primary px-3 py-3">Submit</button>
                        </div>
                    </div>
                </form>  @*<div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><span class="ion-checkmark-circled"></span> Alert!</h5>
                    Success alert preview. This alert is dismissable.
                </div>*@
            </div>
            <div class="col-md-6 order-2 mb-5">
                <div class="row justify-content-right">
                    <div class="col-md-8 mx-auto contact-form-contact-info">
                        <p class="d-flex">
                            <span class="ion-ios-location icon mr-5"></span>
                            <span>1 Idris Garba Close, Apo, Abuja</span>
                        </p>

                        <p class="d-flex">
                            <span class="ion-ios-telephone icon mr-5"></span>
                            <span>+2347065024754</span>
                        </p>

                        <p class="d-flex">
                            <span class="ion-android-mail icon mr-5"></span>
                            <span>info@triad4development.com</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>*@
<script src="~/theme/js/intlInputPhone.min.js"></script>

<script>
    var $jq = jQuery.noConflict();
    $jq(document).ready(function () {
        $jq('.input-phone').intlInputPhone();
    })
</script>



<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>