@{
    ViewData["Title"] = "Home Page";
}

    <section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url('../theme/images/happyafricankids1.jpg');">
            <div class="container">
                <div class="row slider-text align-items-center justify-content-center">
                    <div class="col-lg-7 text-center col-sm-12 element-animate">
                        @*<div class="btn-play-wrap mx-auto"><p class="mb-4"><a href="https://vimeo.com/59256790" data-fancybox data-ratio="2" class="btn-play"><span class="ion ion-ios-play"></span></a></p></div>*@
                        <h1 class="mb-4"><span>TRIAD FOR DEVELOPMENT</span></h1>
                        @*<p class="mb-5 w-75">Making lives better...</p>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image: url('../theme/images/help-kid1.jpg'); ">
            <div class="container">
                <div class="row slider-text align-items-center justify-content-center">
                    <div class="col-lg-7 text-center col-sm-12 element-animate">
                        @*<div class="btn-play-wrap mx-auto"><p class="mb-4"><a href="https://vimeo.com/59256790" data-fancybox data-ratio="2" class="btn-play"><span class="ion ion-ios-play"></span></a></p></div>*@
                        <h1><span>REACH OUT...</span></h1>
                        @*<p class="mb-5 w-75">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image: url('../theme/images/school-children.jpg'); ">
            <div class="container">
                <div class="row slider-text align-items-center justify-content-center">
                    <div class="col-lg-7 text-center col-sm-12 element-animate">
                        @*<div class="btn-play-wrap mx-auto"><p class="mb-4"><a href="https://vimeo.com/59256790" data-fancybox data-ratio="2" class="btn-play"><span class="ion ion-ios-play"></span></a></p></div>*@
                        <h1><span>EMPOWER..</span></h1>
                        @*<p class="mb-5 w-75">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image: url('../theme/images/environment1.jpg'); ">
            <div class="container">
                <div class="row slider-text align-items-center justify-content-center">
                    <div class="col-lg-7 text-center col-sm-12 element-animate">
                        @*<div class="btn-play-wrap mx-auto"><p class="mb-4"><a href="https://vimeo.com/59256790" data-fancybox data-ratio="2" class="btn-play"><span class="ion ion-ios-play"></span></a></p></div>*@
                        <h1><span>ENHANCE AND SUSTAIN.</span></h1>
                        @*<p class="mb-5 w-75">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>*@
                    </div>
                </div>
            </div>
        </div>


    </section>
<!-- END slider -->
    @*</div>*@

<section class="section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 element-animate ">
                <div class="media block-6 d-block text-center">
                    <div class="icon mb-3"><span class="ion-android-bicycle text-primary"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Our Mission</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4 element-animate ">
                <div class="media block-6 d-block text-center">
                    <div class="icon mb-3"><span class="ion-eye text-primary"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Our Vision</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4 element-animate ">
                <div class="media block-6 d-block text-center">
                    <div class="icon mb-3"><span class="ion-ios-book text-primary"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Core Values</h3>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- END section -->

<section class="section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2>Key areas of Development</h2>
            </div>
        </div>
        <div class="row align-items-stretch">
            <div class="col-lg-4 order-lg-1">
                <div class="h-100"><div class="frame h-100"><div class="feature-img-bg h-100" style="background-image: url('../theme/images/motherchild.jpg');"></div></div></div>
            </div>

            <div class="col-md-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-1">

                <div class="feature-1 d-md-flex">
                    <div class="align-self-center">
                        <span class="ion ion-medkit display-4" style="color:red;"></span>
                        <h3>Health</h3>
                        <p>Committed to Healthcare, etcetera...</p>
                    </div>
                </div>

                <div class="feature-1 d-md-flex">
                    <div class="align-self-center">
                        <span class="ion ion-university display-4" style="color:royalblue;"></span>
                        <h3>Education</h3>
                        <p>Committed to Education, etcetera...</p>
                    </div>
                </div>

            </div>

            <div class="col-md-6 col-lg-4 feature-1-wrap d-md-flex flex-md-column order-lg-3">

                <div class="feature-1 d-md-flex">
                    <div class="align-self-center">
                        <span class="ion ion-android-restaurant display-4"></span>
                        <h3>Nutrition</h3>
                        <p>Committed to Nutrition, etcetera...</p>
                    </div>
                </div>

                <div class="feature-1 d-md-flex">
                    <div class="align-self-center">
                        <span class="ion ion-leaf display-4" style="color:forestgreen;"></span>
                        <h3>Environment</h3>
                        <p>Committed to the Environment, etcetera...</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>


<section class="section element-animate">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-lg-7 order-md-2">
                <div class=""><div class="frame"><img src="~/theme/images/fulani-women.jpg" alt="Image" class="img-fluid"></div></div>
            </div>
            <div class="col-md-5 pr-md-5 mb-5">
                <div class="block-41">
                    <h2 class="block-41-heading mb-5">How We Work</h2>
                    <div class="block-41-text">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <p><a href="#" class="readmore">Read More <span class="ion-android-arrow-dropright-circle"></span></a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



<section class="section border-t pb-0" style="margin-top:-10%;">
    <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
            <div class="col-md-8 text-center">
                <h2 class=" heading mb-4">Our Latest Projects</h2>
                <p class="mb-5 lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-md-4 element-animate">
                <a href="project-single.html" class="link-thumbnail">
                    <h3>Potable Water in a remote village in Bayelsa.</h3>
                    <span class="ion-plus icon"></span>
                    <img src="~/theme/images/resized/searchingforwater2.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 element-animate">
                <a href="project-single.html" class="link-thumbnail">
                    <h3>Finance options for market women in Kogi</h3>
                    <span class="ion-plus icon"></span>
                    <img src="~/theme/images/resized/woman-holding-tomatoes2.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 element-animate">
                <a href="project-single.html" class="link-thumbnail">
                    <h3>Learning Materials for School Children in Bauchi</h3>
                    <span class="ion-plus icon"></span>
                    <img src="~/theme/images/resized/school-children2.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 element-animate">
                <a href="project-single.html" class="link-thumbnail">
                    <h3>Fertilizers for farmers in Kaduna</h3>
                    <span class="ion-plus icon"></span>
                    <img src="~/theme/images/resized/womanfarm2.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 element-animate">
                <a href="project-single.html" class="link-thumbnail">
                    <h3>Playground for children in a remote community in Benue</h3>
                    <span class="ion-plus icon"></span>
                    <img src="~/theme/images/resized/childrenrunning2.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 element-animate">
                <a href="project-single.html" class="link-thumbnail">
                    <h3>Educational Resources for children in Oyo State.</h3>
                    <span class="ion-plus icon"></span>
                    <img src="~/theme/images/resized/happyafricankids.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
        </div>

    </div>
</section>
<!-- END section -->

@*<section class="section bg-light block-11">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 text-center">
                <h2 class=" heading mb-4">Happy Clients</h2>
            </div>
        </div>
        <div class="nonloop-block-11 owl-carousel">
            <div class="item">
                <div class="block-33 h-100">
                    <div class="vcard d-flex mb-3">
                        <div class="image align-self-center"><img src="~/theme/images/person_3.jpg" alt="Person here"></div>
                        <div class="name-text align-self-center">
                            <h2 class="heading">John Smith</h2>
                            <span class="meta">Companies Client</span>
                        </div>
                    </div>
                    <div class="text">
                        <blockquote>
                            <p>&rdquo; The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way. &ldquo;</p>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="block-33 h-100">
                    <div class="vcard d-flex mb-3">
                        <div class="image align-self-center"><img src="~/theme/images/person_2.jpg" alt="Person here"></div>
                        <div class="name-text align-self-center">
                            <h2 class="heading">Joshua Darren</h2>
                            <span class="meta">Companies Client</span>
                        </div>
                    </div>
                    <div class="text">
                        <blockquote>
                            <p>&rdquo; Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. &ldquo;</p>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="block-33 h-100">
                    <div class="vcard d-flex mb-3">
                        <div class="image align-self-center"><img src="~/theme/images/person_3.jpg" alt="Person here"></div>
                        <div class="name-text align-self-center">
                            <h2 class="heading">John Smith</h2>
                            <span class="meta">Companies Client</span>
                        </div>
                    </div>
                    <div class="text">
                        <blockquote>
                            <p>&rdquo; A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. &ldquo;</p>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="block-33 h-100">
                    <div class="vcard d-flex mb-3">
                        <div class="image align-self-center"><img src="~/theme/images/person_3.jpg" alt="Person here"></div>
                        <div class="name-text align-self-center">
                            <h2 class="heading">John Smith</h2>
                            <span class="meta">Companies Client</span>
                        </div>
                    </div>
                    <div class="text">
                        <blockquote>
                            <p>&rdquo; Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. &ldquo;</p>
                        </blockquote>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>*@

<section class="section blog">
    <div class="container">

        <div class="row justify-content-center mb-5 element-animate">
            <div class="col-md-8 text-center">
                <h2 class=" heading mb-4">Blog Posts</h2>
                <p class="mb-5 lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="media mb-4 d-md-flex d-block element-animate">
                    <a href="single.html" class="mr-5"><img src="~/theme/images/searchingforwater.jpg" alt="Free website template by Free-Template.co" class="img-fluid"></a>
                    <div class="media-body">
                        <span class="post-meta">Feb 26th, 2018</span>
                        <h3 class="mt-2 text-black"><a href="single.html">Advocacy meeting to the FMOH</a></h3>
                        <p><a href="single.html" class="readmore">Read More <span class="ion-android-arrow-dropright-circle"></span></a></p>
                    </div>
                </div>

                <div class="media mb-4 d-md-flex d-block element-animate">
                    <a href="single.html" class="mr-5"><img src="~/theme/images/woman-holding-tomatoes.jpg" alt="Free website template by Free-Template.co" class="img-fluid"></a>
                    <div class="media-body">
                        <span class="post-meta">Feb 26th, 2018</span>
                        <h3 class="mt-2 text-black"><a href="single.html">Finance Initiative Kick-off</a></h3>
                        <p><a href="single.html" class="readmore">Read More <span class="ion-android-arrow-dropright-circle"></span></a></p>
                    </div>
                </div>


            </div>
            <div class="col-md-6">
                <div class="media mb-4 d-md-flex d-block element-animate">
                    <a href="single.html" class="mr-5"><img src="~/theme/images/school-children.jpg" alt="Free website template by Free-Template.co" class="img-fluid"></a>
                    <div class="media-body">
                        <span class="post-meta">Feb 26th, 2018</span>
                        <h3 class="mt-2 text-black"><a href="single.html">School visit to Kogi State Primary School</a></h3>
                        <p><a href="single.html" class="readmore">Read More <span class="ion-android-arrow-dropright-circle"></span></a></p>
                    </div>
                </div>

                <div class="media mb-4 d-md-flex d-block element-animate">
                    <a href="single.html" class="mr-5"><img src="~/theme/images/img_3.jpg" alt="Free website template by Free-Template.co" class="img-fluid"></a>
                    <div class="media-body">
                        <span class="post-meta">Feb 26th, 2018</span>
                        <h3 class="mt-2 text-black"><a href="single.html">Separated they live in Bookmarksgrove right</a></h3>
                        <p><a href="single.html" class="readmore">Read More <span class="ion-android-arrow-dropright-circle"></span></a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="section bg-primary">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-0">Create, Enhance and Sustain</h2>
                <p class="text-white lead">We encourage you to join us as we make lives better.</p>
            </div>
            <div class="col-lg-4 text-lg-right">
                <a asp-controller="Home" asp-action="Contact" class="btn btn-outline-white px-4 py-3">CONTACT US</a>
            </div>
        </div>
    </div>
</section>